<div class="contentarea">
        <my-app-header>
<header>
    <div class="dashboardhead text-center">
        <div class="clearfix">
            <div class="menu">
                <a href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
            </div>
            <div class="notification">
                <a href="#"><img alt="alert" class="fa desktop" src="img/dashboardbell.png">
                <img alt="alert" class="fa mobile" src="img/dashboardbell-mobile.png">
                </a>
            </div>
            <div class="logo">
                <img src="img/dashboardlogo.png">
            </div>
            <div class="usermenu">
                <a href="/logout"><img alt="logout" class="fa desktop" src="img/dashboardlogout.png">
                <img alt="logout" class="fa mobile" src="img/dashboardlogoutmobile.png">
                </a>
            </div>
        </div>
    </div>
</header>
</my-app-header>
        <app-breadcrumb>
<div class="custom-pagination">
    <ul class="list-unstyled">
        <!--template bindings={}-->

        <!--template bindings={}--><li class="disabled">
          <div class="disablelayer"></div>
      <a href="javascript:void(0);">Home</a>
        </li>
    </ul>
</div>
</app-breadcrumb>
<div class="row">
               <div class="col-md-12 padding50 ">
                             <div class="ios bgimage">




<div class="exambody">
    <h1>ASSESSMENT-1</h1>
        <section class="testmodule">
        <h2 id="status">Question 1</h2>
        <hr class="hrwidth">
        <div id="test" class="style"><h3>Which element attribute is used to define the inline styles</h3><input type="radio" name="choices" value="A"> <span>Class</span><br><hr><input type="radio" name="choices" value="B"> <span>Font</span><br><hr><input type="radio" name="choices" value="C"> <span>Styles</span><br><hr><input type="radio" name="choices" value="D"> <span>Style</span><br><hr><button onclick="checkAnswer()" id="btn1">Next</button></div>
        <h2 id="stat"></h2>
    </section>
</div>
</div>
</div>
</div>
<!-- </head>

</html> -->